<link rel="stylesheet" href="../../public/static/styles/noInputNavbar.css" />
<nav class="navbar">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/news">News</a></li>
    <li><a href="/more">More</a></li>
  </ul>
</nav>
