<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Papurs news about website." />
    <meta name="keywords" content="Papurs, News" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Maven+Pro&family=Noto+Sans&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../public/static/styles/root.css" />
    <style>
      h1 {
        padding: 0;
        width: fit-content;
        margin: auto;
        margin-top: 10px;
        font-family: var(--titleFont);
      }
      .h1Container {
        margin: auto;
      }
      p {
        text-align: justify;
        font-family: var(--fontAccent);
        font-size: 17px;
        padding: 0px 7px 0px 7px;
      }
    </style>

    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8618691594432056"
      crossorigin="anonymous"
    ></script>
    <title>Papurs | About Us</title>
  </head>
  <body>
    <%-include("./partials/noInputNavbar.ejs")%>
    <div class="main"><h1>About Us</h1></div>
    <p>
      Papurs is a website that searches past exam papers, mainly cambridge
      examinations. You simply enter a question and we will show you relevant
      papers that matches the search.
    </p>
    <p>
      This website was designed to help students learn more about their
      subjects. The search results will bring the question papers and mark
      schemes in order to help them know the answers.
    </p>
    <p>
      Papurs was first created in 2022, we plan on adding more papers to search
      and some new features. If you got any questions or want us to add a
      feature you want in the website. Feel free to use the contact button.
    </p>

    <p>Papurs is located in Mauritius.</p>
  </body>
</html>
