<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Papurs contact page." />
    <meta name="keywords" content="Papurs, contact" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Maven+Pro&family=Noto+Sans&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../public/static/styles/root.css" />
    <link rel="stylesheet" href="../public/static/styles/contact.css" />
    
    <title>Papurs | News</title>
  </head>
  <body>
    <%-include("./partials/noInputNavbar.ejs")%>
    <div class="main">
      <div class="messageBox">
        <h1>Contact Us</h1>
        <input type="text" placeholder="Email" class="emailInput" />
        <textarea placeholder="Message" class="messageInput"></textarea>
        <div class="papursButton sendButton">Send</div>
      </div>
    </div>
    <script src="/public/static/scripts/contact.js"></script>
  </body>
</html>
