<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Search examination questions and find out which year they belong to. View the question papers and mark schemes."
    />
    <meta name="keywords" content="O-Level, A-Level, CIE, Past Papers,Search" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Maven+Pro&family=Noto+Sans&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../public/static/styles/root.css" />
    <link rel="stylesheet" href="../public/static/styles/home.css" />
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8618691594432056"
      crossorigin="anonymous"
    ></script>
    <title>Papurs</title>
  </head>
  <body>
    <%-include("./partials/noInputNavbar.ejs")%>
    <div class="main">
      <div class="inputContainer">
        <h1 class="papursTitle">Papurs</h1>
        <div class="searchBoxAndFilterContainer">
          <input type="search" class="searchBox" placeholder="Type question" />

          <img
            src="../public/assets/icons/funnel.svg"
            class="funnelIcon"
            alt="filter icon"
          />
        </div>

        <div class="searchButton">Search</div>

        <div class="howToUseBox">
          <h2>Papurs.com is now our new domain!</h2>
          <h2>New Update</h2>
          <div>
            Papurs results are now extremely precise. You can now search fewer
            words and get the same accurate results. Maths searches have also
            been improved. We also added the filter feature, you can now press
            the funnel icon to filter you search results. O Level papers are now
            availabe.
          </div>
          <h2>How to use</h2>
          <div>1. Enter question. For example: what is a mole.</div>
          <div>2. Press search.</div>
          <div>
            3. We will give you a list of papers which have the question.
          </div>
          <div>
            Tip: To get more accurate results. Type questions which seem to be
            unique from other papers.
          </div>
          <div>
            For example: "A person uses a trolley to move suitcases at an
            airport" will more unique than "what is a mole". Therefore bringing
            more accurate results.
          </div>
          <h2>Papers available</h2>
          <div>
            (A Level): Physics (9702), Chemistry (9701), Design and Technology
            (9705), Computer Science (9608), Mathematics (9709) and English
            General Paper(8021).<br />
            (O Level): Economics (2281), Chemistry (5070), Computer Science
            (2210), Design and Technology (6043), Mathematics Additional (4037),
            Physics (5054), Mathematics D (4024) and English (1123).
          </div>
        </div>
        <%-include("../views/partials/filter.ejs")%>
      </div>
    </div>

    <script src="../public/static/scripts/searchInput.js"></script>
    <script src="../public/static/scripts/home.js"></script>
  </body>
</html>
