<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Papurs news about website." />
    <meta name="keywords" content="Papurs, News" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Maven+Pro&family=Noto+Sans&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../public/static/styles/root.css" />
    <link rel="stylesheet" href="../public/static/styles/news.css" />

    <title>Papurs | News</title>
  </head>
  <body>
    <%-include("./partials/noInputNavbar.ejs")%>
    <div class="main">
      <h1>Papurs News</h1>

      <div class="news">
        <div class="newsHeader">
          <h2>Papurs Update V 0.5</h2>
          <div class="date">23/07/2022</div>
        </div>
        <div>
          You can now view past papers. Click on Past papers in the navigation
          bar. You will be redirected to the past papers navigator. The Past
          papers navigator was designed to be simple and easy to use. It's
          different from other websites where you would need to go from page to
          page in order to view your paper.
        </div>
      </div>

      <div class="news">
        <div class="newsHeader">
          <h2>Papurs Update V 0.451</h2>
          <div class="date">19/07/2022</div>
        </div>
        <div>
          New papers have been added to search.<br />
          O Level: Accounting (7707), Economics (2281), Biology(5090).<br />
          A Level: Computer Science (for first examination in 2021) (9618),
          Accounting (9706), Economics (9708), French - Language (AS Level only)
          (8682), Biology (9700).
        </div>
      </div>

      <div class="news">
        <div class="newsHeader">
          <h2>Papurs Update V 0.45</h2>
          <div class="date">18/07/2022</div>
        </div>
        <div>
          You can now view a peek of the paper in search results if the paper
          contain your search text.
        </div>
      </div>

      <div class="news">
        <div class="newsHeader">
          <h2>Papurs Update V 0.4</h2>
          <div class="date">17/07/2022</div>
        </div>
        <div>
          New features have been added.<br />
          1. More accurate and precise results. We have updated our search
          algorithms based on how questions are asked in the question papers.<br />
          2.Filter has been added. You can now click on filter and choose the
          exam, subject,year you wish to search. <br />
          3.Maths searches have been improved, but since most equations are
          nearly identical, we do not recommend using them to search as you will
          get a lot of papers with the same questions.<br />
          4. You can now view pdfs in the browser even if you do not have a
          built in pdf viewer.<br />
          5. New papers have been added to search.
        </div>
      </div>

      <div class="news">
        <div class="newsHeader">
          <h2>Papurs is still in demo.</h2>
          <div class="date">11/07/2022</div>
        </div>
        <div>
          Search results are not guaranteed to be accurate since the app is
          still in demo. There might be bugs and unfinished places in the
          website. Papurs will be released soon.
        </div>
      </div>
    </div>
  </body>
</html>
