<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Papurs past papers navigator." />
    <meta name="keywords" content="Papurs, past papers navigator" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Maven+Pro&family=Noto+Sans&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../public/static/styles/root.css" />
    <link rel="stylesheet" href="../public/static/styles/past.css" />

    <title>Papurs | Past Papers</title>
  </head>
  <body>
    <%-include("./partials/noInputNavbar.ejs")%>
    <div class="main">
      <h1>Past Papers Navigator</h1>

      <div class="filterContainer">
        <div class="filterBox">
          <div class="filterLabel examinationLabel">Examination</div>

          <div class="filterInputContainer">
            <select class="filterInput examinationInput">
              <option value="Any">Any</option>
              <option value="A">A Level</option>
              <option Value="O">O Level</option>
            </select>
          </div>

          <div class="filterLabel subjectLabel">Subject</div>
          <div class="filterInputContainer">
            <select
              class="filterInput subjectInput"
              aria-placeholder="Select subject"
            >
              <option value="none">None</option>
            </select>
          </div>

          <div class="filterLabel subjectLabel">Year</div>
          <div class="filterInputContainer">
            <select
              class="filterInput yearInput"
              aria-placeholder="Select year"
            >
              <option value="none">None</option>
            </select>
          </div>

          <div class="buttonContainer">
            <div class="papursButton goButton">Go</div>
          </div>
        </div>
      </div>

      <h3>How to use the navigator</h3>
      <p>
        Select the examination, the subject and the year and press Go, you will
        redirected to a list of available past papers for the specified
        criteria.
      </p>
    </div>
    <script src="/public/static/scripts/past.js"></script>
  </body>
</html>
