* {
  font-family: var(--fontAccent);
}

h1 {
  font-family: var(--titleFont);
}

.emailInput,
.messageInput {
  border-radius: 8px;
  font-size: 17px;
  width: 350px;
  transition: 200ms;
  border: solid 2px var(--colorAccent);
}

.emailInput {
  height: 30px;
}

.messageInput {
  resize: vertical;
  min-height: 200px;
  overflow: hidden;
  appearance: none;
  outline: none;
}
.messageInput:focus,
.emailInput:focus {
  box-shadow: 0px 0px 12px 1px #9c9c9c;
}

.sendButton {
  width: 70px;
}

.messageBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

@media screen and (max-width: 800px) {
  .emailInput,
  .messageInput {
    width: 90%;
  }
}
