.navbar {
  padding: 0;
  margin: 0;
  position: sticky;
  height: 55px;
  /* width: 100vw; */
  background-color: var(--colorAccent);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

nav > ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  gap: 10px;
  box-sizing: border-box;
  margin-left: 10px;
}

ul > li {
  font-family: var(--fontAccent);
  font-size: 25px;
  color: white;
  cursor: pointer;
}
