.resultBox {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 180px;
  height: fit-content;
  width: 500px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 0px 0px 5px 1px #c1c1c1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 8px;
  font-family: var(--fontAccent);
  justify-content: space-evenly;
  align-items: center;
}

.resultTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  gap: 15px;
  font-size: 25px;
}
.resultTitleIcon {
  width: 22px;
}

.resultRedirects {
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;
  justify-content: space-evenly;
}

.linkRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
  box-sizing: border-box;
  background-color: var(--colorAccent);
  box-sizing: border-box;
  padding: 5px;
  border-radius: 8px;
  color: whitesmoke;
  transition: 125ms ease-in-out;
}

.linkMark {
  background-color: rgb(212, 212, 212);
  color: black;
}

.linkRow:hover,
.linkRow:active {
  background-color: var(--colorAccentHover);
}

.linkMark:hover,
.linkMark:active {
  background-color: rgb(227, 227, 227);
}

.linkIcon {
  width: 25px;
}

h1 {
  width: fit-content;
  margin: auto;
  font-family: var(--titleFont);
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .resultBox {
    width: 100%;
    border-radius: 0;
  }
}
