:root {
  --colorAccent: #6d28d9;
  --colorAccentHover: #9158ec;
  --fontAccent: "Noto Sans", sans-serif;
}
body {
  background-color: rgb(245 245 245);
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: inline;
}

.main {
  height: 100%;
  width: 100%;
  display: inline;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow: auto;
}

a {
  text-decoration: none;
  color: currentColor;
}
